<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  Keystroke Mode <b class="caret"></b>
</a>

<ul class="dropdown-menu dropdown-menu-right">
  <li><a {{action 'setKeyMap' 'basic'}} class="key-map-option basic">Basic</a></li>
  <li><a {{action 'setKeyMap' 'vim'}} class="key-map-option vim">Vim</a></li>
  <li><a {{action 'setKeyMap' 'emacs'}} class="key-map-option emacs">Emacs</a></li>
  <li><a {{action 'setKeyMap' 'sublime'}} class="key-map-option sublime">Sublime</a></li>
</ul>
