<div class="header">
  <div class="nav-left">
    &nbsp;
    <span class="glyphicon glyphicon-resize-full flip-horizontal" {{action 'expandAll'}} title="Expand All"></span>
    &nbsp;
    <span class="glyphicon glyphicon-resize-small flip-horizontal" {{action 'collapseAll'}} title="Collapse All"></span>
  </div>
  <div class="nav-right">
    <span class="glyphicon glyphicon-chevron-left" {{action 'hideFileTree'}} title="Hide project explorer tree"></span>
  </div>
</div>
{{ember-jstree data=fileTreeData
               actionReceiver=jsTreeActionReceiver
               eventDidSelectNode="handleSelectTreeNode"
}}