<div class="header">
  <div class="nav-right">
    <span class="glyphicon glyphicon-chevron-left" {{action 'hideFileTree'}} title="Hide project explorer tree"></span>
  </div>
</div>
{{ember-jstree data=fileTreeData
               actionReceiver=jsTreeActionReceiver
               eventDidSelectNode="handleSelectTreeNode"
}}