{{!--
  not supported by ivy-tree yet, you can expand all with '*' key though
<div class="header">
  <div class="nav-left">
    &nbsp;
    <span class="hint--bottom hint--rounded" data-hint="Expand All">
      <span class="twiddlicon twiddlicon-expand-all" {{action 'expandAll'}}></span>
    </span>
    &nbsp;
    <span class="hint--bottom hint--rounded" data-hint="Collapse All">
      <span class="twiddlicon twiddlicon-collapse-all" {{action 'collapseAll'}}></span>
    </span>
  </div>
</div>
--}}

{{#ivy-tree as |tree|}}
  {{#each fileTreeData.children as |datum|}}
    {{file-tree-folder datum=datum tree=tree
      selected=treeService.selected
      onSelected=(action (mut treeService.selected))
      handleSelectTreeNode=(action 'handleSelectTreeNode')}}
  {{/each}}
{{/ivy-tree}}
