{{#if owner}}
  Author: {{user-profil-link user=owner}}
{{else}}
  No author (new twiddle)
{{/if}}

{{#if originalGist}}
  |
  Fork from: {{user-profil-link user=originalGist.owner}}'s gist
  |
  {{#link-to 'gist.edit' originalGist.id class="gist-link" title="Open original gist in a new ember-twiddle" target="_blank"}}
    <span class="glyphicon glyphicon-new-window" ></span>&nbsp;Open original gist
  {{/link-to}}
{{/if}}
