{{#if owner}}
  Author: <UserProfileLink @user={{owner}} />
{{else}}
  No author (new twiddle)
{{/if}}

{{#if originalGist}}
  |
  Fork from: <UserProfileLink @user={{originalGist.owner}} />'s gist
  |
  <LinkTo @route="gist.edit" @model={{originalGist.id}} class="gist-link" @title="Open original gist in a new ember-twiddle" @target="_blank">
    <span class="glyphicon glyphicon-new-window"></span>&nbsp;Open original gist
  </LinkTo>
{{/if}}
