{{#paper-checkbox value=isLiveReload onChange=(action 'liveReloadClicked')}}
  Live Reload
{{/paper-checkbox}}
{{#unless isLiveReload}}
  <button class="btn-default run-now" {{action "runNowClicked"}}>Run Now</button>
{{/unless}}
