<label class="checkbox-inline"><BetterCheckbox @id="live-reload" @checked={{isLiveReload}} @action={{action "liveReloadClicked"}} />Live Reload</label>
{{#unless isLiveReload}}
  <button class="btn-default run-now" {{action "runNowClicked"}}>Run Now</button>
{{/unless}}
