<label class="checkbox-inline">
  {{better-checkbox id="live-reload" checked=isLiveReload action=@liveReload}}
  Live Reload
</label>

{{#unless this.isLiveReload}}
  <button class="btn-default run-now" {{on "click" @runNow}}>Run Now</button>
{{/unless}}
