<table class='saved-twiddles'>
  <thead>
    <th>Description</th>
    <th>Gist</th>
    <th>Updated</th>
    <th>Files</th>
    <th>SHA</th>
  </thead>
  <tbody>
    {{#each filteredModel as |gist|}}
      {{saved-twiddles-row gist=gist}}
    {{/each}}
  </tbody>
</table>