<nav class="navbar-default">
  <div class="row toolbar">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsed-menu" aria-expanded="false">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <div id="collapsed-menu" class="collapse navbar-collapse row toolbar">
    <ul class="nav-pills main-menu">
      {{file-menu}}
    </ul>

    <div class="title">
      <h1 class="saved-twiddles-header">My Saved Twiddles</h1>
    </div>

    {{user-menu session=session
                signInViaGithub=(route-action "signInViaGithub")
                signOut=(route-action "signOut")
    }}
  </div>
</nav>
