{{#if unsaved}}
  <span class="test-unsaved-indicator">Unsaved</span>
{{else}}
  <span>{{model.files.length}} files</span>
  <a class="gist-link" href="{{model.htmlUrl}}" target="_blank">saved to Gist, rev {{model.currentRevision}}</a>
{{/if}}
