{{input class="test-description-input"
  value=value
  autoresize=true
  focus-in=(action "inputFocusIn")
  focus-out=(action "inputFocusOut")
  enter=(action "removeFocus")
  placeholder='New Twiddle'
}}
<span class="glyphicon glyphicon-pencil"></span>
