<a class="dropdown-toggle" data-toggle="dropdown" href="#">
  Dependencies <b class="caret"></b>
</a>

<ul class="dropdown dropdown-menu dropdown-menu-left">
  <li class="dropdown-submenu dropeven">
    <a tabindex="-1" data-toggle="dropdown">Ember.js</a>

    <ul class="dropdown dropdown-menu" >
      {{#each versions as |version| }}
        <li><a class="test-set-ember-version" {{action versionSelected "ember" version }}>{{version}}</a></li>
      {{/each}}
    </ul>
  </li>

  <li class="dropdown-submenu dropeven">
    <a tabindex="-1" data-toggle="dropdown">Ember-Data</a>

    <ul class="dropdown dropdown-menu" >
      {{#each dataVersions as |version| }}
        <li><a class="test-set-ember-data-version" {{action versionSelected "ember-data" version }}>{{version}}</a></li>
      {{/each}}
    </ul>
  </li>
</ul>
