button {
  @extend .btn;
  @extend .btn-default;
}

body {
  font-family: 'Maven Pro', sans-serif;
}

#app {
  position: absolute;
  z-index: -1;
}

.light-gray {
  color: $grey-5;
}

.yellow {
  color: $yellow;
}

.flip-horizontal {
  transform: scale(-1, 1);
}
