body {
  font-family: 'Maven Pro', sans-serif;
  width: 100%;
}

#root {
  position: absolute;
}

.light-gray {
  color: $grey-5;
}

.yellow {
  color: $yellow;
}

.flip-horizontal {
  transform: scale(-1, 1);
}
