.url-bar {
  background: $grey-2;
  border-bottom: 1px solid $grey-4;
  padding: 6px;
}
.url-bar > input {
  display: block;
  box-sizing: border-box;
  height: 25px;
  width: 100%;
  padding: 3px;
  background: white;
  border: 1px solid $grey-4;
}

.run-now {
  margin-left: 10px;
  padding: 1px 6px 3px;
}

.handle {
  width: 3px;
  background-color: transparent;
  position: relative;
  left: -2px;
  z-index: 999;

  @media (min-width: $screen-md-min) {
    height: 100%;
  }
}

.twiddle-run-tests {
  margin-left: auto;
  text-align: right;
  font-size: 14px;
}

.building-state .building-text {
  margin-left: 0.5em;
}