div.table-responsive {
  margin: 20px auto;
}

.saved-twiddles {
  width: 90%;
  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  overflow: hidden;

  tr:nth-child(odd) td {
    background-color: #f7f7f7;
  }

  td {
    vertical-align: top;
  }

  td, th {
    padding: 12px 16px;
    text-align: left;
  }

  th {
    background-color: #eaeaea;
    color: #757575;
  }
}
