md-toolbar.md-default-theme.sidebar-toolbar {
  background-color: $header-bg;
  background-image: url(/images/header.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.toolbar {
  .nav-pills > li > a {
    display: block;
    text-decoration: none;
  }


  @media (min-width: $screen-md-min) {
    height: $topbar-height;
  }

  .dropdown .caret {
    position: absolute;
    right: 10px;
    top: 13px;
  }


  .dropdown-menu {
    .dropdown-submenu > .dropdown-menu {
      top: auto;
      margin-bottom: -31px;
    }
  }

  color: #333;
  font-size: $font-size;
  background-color: #f9f9f9;

  hr {
    display: block;
    border-color: $burnt-orange;
    margin: 1em 0;
  }

  @media (max-width: $screen-md-min) {
    padding: 0;
  }

  button.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
    border-color: $burnt-orange;

    @media (max-width: $screen-md-min) {
      display: inline-block;
    }

    &:hover, &:active, &:focus {
      background: $pale-orange;
      outline: none;
      opacity: 0.5;
    }

    .icon-bar {
      background-color: $burnt-orange;
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  .file-tree {
    overflow: auto;

    .tree-folder button,
    .tree-file button {
      font-size: 13px;
      line-height: 20px;
      min-height: 20px;
      margin: 4px 6px;
      text-transform: none;

      & > md-icon {
        line-height: 14px;
      }
    }
  }

  .user-menu {
    .signed-in-btn {
      margin: 0;
      line-height: 43px;
      text-align: left;
    }

    .user-avatar {
      display: inline-block;
      width: 38px;
      height: 100%;
      overflow: hidden;
      float: left;
      line-height: normal;
      border-radius: 30px;
      background-color: #ccc;
      margin: 5px;

      img {
        width: 38px;
        height: 38px;
      }
    }
  }

  .main-menu {
    text-align: left;

    md-menu > button {
      text-align: left;
    }

    a {
      display: block;
    }
  }

  .gist-card {
    //color: #333;
    background-color: #fdfdfd;

    h1 {
      margin: 10px;
    }

    .details {
      padding: 10px;
    }

    .saved-twiddles-header {
      color: #333;
      font-size: $font-size-larger;
    }

    .indicator {
      text-transform: uppercase;
      color: #666;
      padding: 5px 0;
      line-height: 1.2;

      a {
        color: #666;
        text-decoration: none;
        border-bottom: 1px solid transparent;

        &:hover {
          border-bottom: dotted 1px;
        }
      }
    }

    .input-edit {
      transition: background .3s;
      font-size: $font-size-largest;
      border-radius: 2px;
      border: 0;
      color: #333;
      cursor: pointer;
      padding: 2px;

      input {
        font-weight: 500;
        background-color: transparent;
        border: 0;
        outline: 0;
        box-sizing: content-box;
      }

      md-icon {
        line-height: 14px;
      }

      &.active md-icon {
        display: none;
      }

      &:hover {
        background-color: $menu-hover-bg;
      }

      &.active {
        background-color: $menu-bg;
        outline: 0;
      }
    }

    .gist-link, span {
      display: inline-block;
    }

  }

  .dropdown {
    &.open .dropdown-toggle {
      background-color: $menu-bg;
      border: 1px solid transparent;
    }
  }

  .user-dropdown > .dropdown-toggle {
    padding: 0 1em 0 0;
  }

  .signin-btn {
    text-align: left;
  }

  .dropdown-toggle {
    padding: 0 1em;
  }

  .signing-in {
    padding: 0 1em;
    height: $topbar-control-height;
    line-height: $topbar-control-height - 2;
    text-transform: uppercase;
    font-weight: bold;
    color: #333;
    border: 1px solid transparent;
  }

  &.navbar-collapse {
    @media (max-width: $screen-md-min) {
      background: $header-bg;
      background-image: url(/images/header.svg);
      background-position: 50% -60px;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0;
      border: 0;
      box-shadow: none;
    }
  }
}

.nested-menu-trigger {
  padding: 0;

  button {
    text-transform: none;
    font-weight: 400;
    text-align: left;
  }
}