.toolbar {
  display: flex;
  flex-direction: column;
  color: #fff;
  font-size: $font-size;
  background: $header-bg;
  background-image: url(/images/header.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

  @media (max-width: $screen-md-min) {
    padding: 0;
  }

  @media (min-width: $screen-md-min) {
    height: $topbar-height;
  }

  .nav-pills > li > a {
    display: block;
    text-decoration: none;
  }

  .dropdown .caret {
    position: absolute;
    right: 10px;
    top: 13px;
  }

  .dropdown-menu {
    .dropdown-submenu > .dropdown-menu {
      top: 5px !important;
      margin-bottom: -31px;

      @media (max-width: $screen-md-min) {
        left: 80px;
      }
    }
  }

  hr {
    display: block;
    border-color: $burnt-orange;
    margin: 1em 0;
  }

  button.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
    border-color: $burnt-orange;

    @media (max-width: $screen-md-min) {
      display: inline-block;
    }

    &:hover, &:active, &:focus {
      background: $pale-orange;
      outline: none;
      opacity: 0.5;
    }

    .icon-bar {
      background-color: $burnt-orange;
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  .file-tree {
    flex: 1.5;

    .tree {
      height: 100%;

      .header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .controls {
          padding: 0.5rem;
        }

        .file-menu {
          flex: 0.5;

          .dropdown-toggle {
            display: block;
          }
        }
      }

      .ember-jstree {
        height: 100%;
        overflow: auto;
      }
    }

    .jstree-default .jstree-hovered {
        background: rgba(0, 0, 0, 0.13);
        box-shadow: none;
    }

    .jstree-default .jstree-clicked {
        background: #b95252;
        box-shadow: none;
    }
  }

  .user-menu {
    a {
      display: block;
    }

    .user-avatar {
      display: inline-block;
      width: $topbar-control-height;
      height: 100%;
      overflow: hidden;
      float: left;
      margin-right: 5px;
      line-height: normal;
      border-radius: 3px;

      img {
        width: $topbar-control-height;
        height: $topbar-control-height;
      }

      &.unauthenticated {
        background: url("../images/github32-inverse-faf2ee.svg");
        height: 32px;
      }
    }
  }

  .main-menu {
    text-align: left;

    a {
      display: block;
    }
  }

  .title {
    padding: 13px 0;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    h1 {
      margin: 10px;
    }

    .saved-twiddles-header {
      color: $bleached-orange;
      font-size: $font-size-larger;
    }

    .indicator {
      display: inline;
      text-transform: uppercase;
      font-weight: bold;
      color: #faf2ee;

      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          border-bottom: dotted 1px;
        }
      }
    }

    .input-edit {
      display: inline;
      transition: background .3s;
      font-size: $font-size-larger;
      border-radius: 3px;
      border: 0;
      color: $bleached-orange;
      cursor: pointer;

      input {
        background-color: transparent;
        border: 0;
        outline: 0;
        box-sizing: content-box;
      }

      .glyphicon {
        color: $bleached-orange;
      }

      &.active .glyphicon {
        display: none;
      }

      &:hover {
        background-color: $menu-hover-bg;
      }

      &.active {
        background-color: $menu-bg;
        outline: 0;
      }
    }

    .gist-link, span {
      display: inline-block;
    }

  }

  .dropdown {
    &.open .dropdown-toggle {
      background-color: $menu-bg;
      border: 1px solid transparent;
    }
  }

  .user-dropdown > .dropdown-toggle {
    padding: 0 1em 0 0;
  }

  .dropdown-toggle, .sign-in {
    height: $topbar-control-height;
    line-height: $topbar-control-height - 2;
    text-transform: uppercase;
    font-weight: bold;
    color: $bleached-orange;
    border: 1px solid transparent;

    &:hover, &:focus {
      background-color: $menu-hover-bg;
    }
  }

  .dropdown-toggle {
    padding: 0 1em;
  }

  .sign-in {
    cursor: pointer;
    padding: 0 .5em;
  }

  .signing-in {
    padding: 0 1em;
    height: $topbar-control-height;
    line-height: $topbar-control-height - 2;
    text-transform: uppercase;
    font-weight: bold;
    color: $bleached-orange;
    border: 1px solid transparent;
  }

  &.navbar-collapse {
    @media (max-width: $screen-md-min) {
      background: $header-bg;
      background-image: url(/images/header.svg);
      background-position: 50% -60px;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0;
      border: 0;
      box-shadow: none;
    }
  }
}
