.toolbar {

  hr {
    display: none;
  }

  .nav-pills > li > a {
    display: block;
    text-decoration: none;
  }


  @media (min-width: $screen-md-min) {
    height: $topbar-height;
  }

  @media (max-width: $screen-md-min) {
    position: relative;
    z-index: 100;
    opacity: 1;

    >div, >ul {
      margin-top: 0;
      margin-bottom: 0;
    }

    .nav-pills > li {
      float: none;
    }

    .nav-pills > li + li {
      margin-left: 0;
    }

    .dropdown-toggle {
      display: block;
      border-radius: 0;
      box-shadow: none;
    }

    .dropdown-menu {
      position: static;
      float: none;
      border: 0;
      border-radius: 0;
      box-shadow: none;
      background: inherit;

      .dropdown-submenu > .dropdown-menu {
        margin-left: 1em;
        margin-top: 0;
      }

      .divider {
        background-color: lighten($burnt-orange, 10%);
      }

      a {
        color: #fff;

        &:hover {
          background-color: lighten($burnt-orange, 10%);
        }
      }
    }

    hr {
      display: block;
      border-color: $burnt-orange;
      margin: 1em 0;
    }
  }
  color: #fff;
  font-size: $font-size;
  background: $header-bg;
  background-image: url(/images/header.svg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem 0;

  @media (max-width: $screen-md-min) {
    padding: 0;
  }

  button.navbar-toggle {
    margin-top: 13px;
    margin-bottom: 13px;
    border-color: $burnt-orange;

    @media (max-width: $screen-md-min) {
      display: inline-block;
    }

    &:hover, &:active, &:focus {
      background: $pale-orange;
      outline: none;
      opacity: 0.5;
    }

    .icon-bar {
      background-color: $burnt-orange;
    }
  }

  ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }

  .user-menu {
    text-align: right;

    @media (min-width: $screen-md-min) {
      position: absolute;
      right: 0;
      top: ($topbar-height - $topbar-control-height) / 2;
    }

    @media (max-width: $screen-md-min) {
      float: none;
      text-align: left;

      .user-dropdown > .dropdown-toggle {
        padding-left: 1em;
      }
    }

    .user-avatar {
      display: inline-block;
      width: $topbar-control-height;
      height: 100%;
      overflow: hidden;
      float: left;
      margin-right: 10px;
      line-height: normal;
      border-radius: 3px;

      img {
        width: $topbar-control-height;
        height: $topbar-control-height;
      }

      &.unauthenticated {
        background: url("../images/github32-inverse-faf2ee.svg");
      }
    }
  }

  .main-menu {
    text-align: left;
    height: 60px;

    @media (min-width: $screen-md-min) {
      position: absolute;
      left: 0;
      top: ($topbar-height - $topbar-control-height) / 2;
    }

    @media (max-width: $screen-md-min) {
      height: auto;
    }
  }

  .title {
    padding: 13px 0;
    text-align: center;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: $screen-md-min) {
      position: absolute;
      top: 6px;
      left: 50%;
      margin-left: -400px;
      width: 800px;
    }

    @media (max-width: $screen-md-min) {
      margin-left: 15px;
    }

    h1 {
      margin: 10px;
    }

    .saved-twiddles-header {
      color: $bleached-orange;
      font-size: $font-size-larger;
    }

    .indicator {
      display: inline;
      text-transform: uppercase;
      font-weight: bold;
      color: #faf2ee;

      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          border-bottom: dotted 1px;
        }
      }
    }

    .input-edit {
      display: inline;
      transition: background .3s;
      font-size: $font-size-larger;
      border-radius: 3px;
      border: 0;
      color: $bleached-orange;
      cursor: pointer;

      input {
        background-color: transparent;
        border: 0;
        outline: 0;
        box-sizing: content-box;
      }

      .glyphicon {
        color: $bleached-orange;
      }

      &.active .glyphicon {
        display: none;
      }

      &:hover {
        background-color: $menu-hover-bg;
      }

      &.active {
        background-color: $menu-bg;
        outline: 0;
      }
    }

    .gist-link, span {
      display: inline-block;
    }

  }

  .dropdown {
    &.open .dropdown-toggle {
      background-color: $menu-bg;
      border: 1px solid transparent;
    }
  }

  .user-dropdown > .dropdown-toggle {
    padding: 0 1em 0 0;
  }

  .dropdown-toggle, .sign-in {
    height: $topbar-control-height;
    line-height: $topbar-control-height - 2;
    text-transform: uppercase;
    font-weight: bold;
    color: $bleached-orange;
    border: 1px solid transparent;

    &:hover, &:focus {
      background-color: $menu-hover-bg;
    }
  }

  .dropdown-toggle {
    padding: 0 1em;
  }

  .sign-in {
    cursor: pointer;
    padding: 0 .5em 0 0;
  }

  .signing-in {
    padding: 0 1em;
    height: $topbar-control-height;
    line-height: $topbar-control-height - 2;
    text-transform: uppercase;
    font-weight: bold;
    color: $bleached-orange;
    border: 1px solid transparent;
  }

  &.navbar-collapse {
    @media (max-width: $screen-md-min) {
      background: $header-bg;
      background-image: url(/images/header.svg);
      background-position: 50% -60px;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 0;
      border: 0;
      box-shadow: none;
    }
  }
}
