$brand-primary:              #000;
$screen-md:                  950px !default;
$ember-orange: 							 #f67862;
$dropdown-link-hover-bg:     $ember-orange;
$dropdown-link-hover-color:  #fff;
$dropdown-link-color:        #000;
$navbar-default-link-color:                #777 !default;
$navbar-default-link-hover-color:          #333 !default;
$navbar-default-link-hover-bg:             transparent !default;
$navbar-default-link-active-color:         #555 !default;
$header-icon-color:                        #c6b5ad !default;

$topbar-height: 60px;
$topbar-control-height: 32px;
$code-header-height: 60px;

.dropdown-submenu:hover > a {
  background: $dropdown-link-hover-bg;
  color: $dropdown-link-hover-color;
}

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "vendor/twiddlicon/twiddlicon.scss";

button {
  @extend .btn;
  @extend .btn-default;
}

body {
  font-family: 'Maven Pro', sans-serif;
}

#demo-app {
  position: absolute;
}

.light-gray {
  color: #cccccc;
}

.yellow {
  color: #ffcc00;
}

.flip-horizontal {
  transform: scale(-1, 1);
}

.toolbar {
  height: $topbar-height;
  font-size: 13px;
  background: #e1563f top center;
  background-image: url("../images/navigation_background.png");
  border-bottom: 1px solid #aa412f;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 0 3px;
  box-shadow: rgba(0,0,0,0.3) 0 0 3px;

  .user-menu {
    position: absolute;
    right: ($topbar-height - $topbar-control-height) / 2;
    top: ($topbar-height - $topbar-control-height) / 2;
    text-align: right;

    .user-avatar {
      display: inline-block;
      width: $topbar-control-height;
      height: $topbar-control-height;
      overflow: hidden;
      float: left;
      margin-right: 10px;
      line-height: normal;
    }
  }

  .file-menu {
    position: absolute;
    left: ($topbar-height - $topbar-control-height) / 2;
    top: ($topbar-height - $topbar-control-height) / 2;
    text-align: left;
  }

  .title {
    width: 800px;
    margin: 13px auto;
    text-align: center;

    .indicator {
      text-transform: uppercase;
      font-weight: bold;
      color: #faf2ee;
      text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;

      a {
        color: #ffffff;
        text-decoration: none;
        &:hover {
          border-bottom: dotted 1px;
        }
      }
    }

    .input-edit {
      display: inline-block;
      padding: 5px 10px;
      transition: background .3s;
      font-size: 15px;
      text-shadow: rgba(0,0,0,0.3) 0px 1px 0px;
      border-radius: 3px;
      border: 0;
      color: #faf2ee;
      cursor: pointer;

      input {
        background-color: transparent;
        border: 0;
        outline: 0;
        box-sizing: content-box;
      }

      .glyphicon {
        color: #faf2ee;
      }

      &.active .glyphicon {
        display: none;
      }

      &:hover {
        text-shadow: none;
        background-color: rgba(0,0,0,0.13);
      }

      &.active {
        text-shadow: none;
        background-color: rgba(0,0,0,0.2);
        box-shadow: rgba(255,255,255,0.15) 0 1px 0px,inset rgba(0,0,0,0.17) 0 1px 1px;
        outline: 0;
      }
    }

    .gist-link, span {
      display: inline-block;
    }

  }

  .dropdown {

    &.open .dropdown-toggle {
      text-shadow: none;
      background-color: rgba(0,0,0,0.2);
      box-shadow: rgba(255,255,255,0.15) 0 1px 0px,inset rgba(0,0,0,0.17) 0 1px 1px;
      border: 1px solid transparent;
    }
  }

  .dropdown-toggle {
    padding: 0px 1em;
    height: $topbar-control-height;
    line-height: $topbar-control-height - 2;
    text-transform: uppercase;
    font-weight: bold;
    color: #faf2ee;
    text-shadow: rgba(0,0,0,0.3) 0px 1px 0px;
    border: 1px solid transparent;

    &:hover, &:focus {
      text-shadow: none;
      background-color: rgba(0,0,0,0.13);
    }
  }

  .signing-in {
    padding: 0px 1em;
    height: $topbar-control-height;
    line-height: $topbar-control-height - 2;
    text-transform: uppercase;
    font-weight: bold;
    color: #faf2ee;
    text-shadow: rgba(0,0,0,0.3) 0px 1px 0px;
    border: 1px solid transparent;
  }

}

.code {
  .CodeMirror, .header ul {
    opacity: .3;
    transition: opacity .3s;
  }

  &.active .CodeMirror, &.active .header ul {
    opacity: 1;
  }

  .CodeMirror {
    font-family: Monaco, monospace;
    font-size: 13px;
    line-height: 1.6;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.twiddle-panes {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  margin-left: 0;
  z-index: -1;

  @media (min-width: $screen-md-min) {
    display: -webkit-flex;
    display: flex;
  }

  .col-md-4 {
    -webkit-flex: 0.5;
    flex: 0.5;
    padding: 0;
    height: 100%;
    border-right: 1px solid #e4e2e2;
    cursor: normal;
  }

  .handle + .col-md-4 {
    margin-left: -3px;
  }

  .output {
    border-right: none;

    span {
      margin: 16px 25px;
      display: inline-block;
    }

    iframe {
      border: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }

    span.glyphicon-plus {
      cursor: pointer;
    }
  }

  .header {
    height: $code-header-height;
    border-bottom: 1px solid #e4e2e2;
    font-size: 16px;
    background-color: #faf4f1;
    position: relative;

    .nav-left {
      position: absolute;
      top: 18px;
      left: 15px;
    }

    .file-picker {
      margin-left: 15px;
      margin-top: 8px;
      margin-bottom: 0;
      position: absolute;
    }

    .nav-left+.file-picker {
      margin-left: 30px;
    }

    .nav-right {
      position: absolute;
      top: 20px;
      right: 15px;
    }

    .glyphicon {
      font-size: 0.8em;
    }

    .twiddlicon {
      font-size: 1.2em;
    }

    .glyphicon, .twiddlicon {
      text-align:center;
      color: $header-icon-color;
      text-shadow: 1px 1px 0px white;
      cursor: pointer;
      padding: 2px;
    }

    .twiddlicon:hover{
      color: #faf4f1;
      background-color: #d6c3ba;
      border-radius: 20%;
      padding: 2px;
      text-shadow: 1px 1px 0px #ad9488;
    }

    .glyphicon-plus {
      padding-bottom: 3px;
      padding-left: 3px;
    }

    .glyphicon:hover {
      color: #faf4f1;
      background-color: #d6c3ba;
      border-radius: 20%;
      padding: 2px;
      text-shadow: 1px 1px 0px #ad9488;
    }

    .glyphicon-plus:hover {
      padding-bottom: 3px;
      padding-left: 3px;
    }
  }

  .full-screen {
    .header {
      display: none;
    }

    .run-or-live-reload {
      display: none;
    }
  }

  .exit-full-screen-link {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    color: $dropdown-link-color;
    cursor: pointer;
  }
}

.dropdown {
  li {
    cursor: pointer;
  }
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.url-bar {
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 6px;
}
.url-bar > div {
  display: block;
  height: 25px;
  padding: 3px;
  background: #fff;
  border: 1px solid #ddd;
}

.run-now {
  margin-left: 10px;
  padding: 1px 6px 3px;
}

.run-or-live-reload {
  position: absolute;
  right: 0;
  top: 8px;
  margin: 10px 25px;
  text-align: right;
}

.handle {
  height: 100%;
  width: 3px;
  background-color: transparent;
  position: relative;
  left: -2px;
}
