$screen-md:                  950px !default;

@import "bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap";

button {
  @extend .btn;
  @extend .btn-default;
}

#demo-app {
  position: absolute;
}


.submenu {
	display:none;
}

.toolbar {
	height: 50px;
}

.code .CodeMirror {
	font-family: Monaco;
}

.user-menu {
	position: absolute;
	right: 0;
	top: 0;
	width: 200px;
	text-align:right;
}

.file-menu {
	position: absolute;
	left: 0;
	top: 0;
	width: 200px;
	text-align:left;
}

.toolbar .title {
	width:400px;
	margin: 0 auto;
	text-align:center;
}