@import "ember-paper";
@import "variables";
@import "vendor/twiddlicon/twiddlicon.scss";
@import "main";
@import "toolbar";
@import "twiddle-panes";
@import "code";
@import "output-pane";
@import "dropdown";
@import "saved-twiddles";

body,
.main-container,
.main-gist,
.gist-body,
.gist-header,
.inner-sidenav,
.sidebar-content,
.twiddle-panes {
  width: 100%;
  height: 100%;
}

.tree-file[aria-level='2'] {
  margin-left: 1em;
}

// ember-paper removes the margin from the first button
// in a toolbar. However, we're rendering two buttons for now
// and hiding one of them depending on the breakpoints.
// this also removes the margin from the second button.
.md-toolbar-tools.main-toolbar-tools > .md-button:nth-child(2) {
  margin-left: -8px;
}
