<div class="row toolbar">
  <ul class="nav nav-pills file-menu">
    {{file-menu}}
  </ul>

  <div class="title">
    <h1 class="saved-twiddles-header">My Saved Twiddles</h1>
  </div>

  {{user-menu session=session
              version=version
              signInViaGithub="signInViaGithub"
              signOut="signOut" }}
</div>

<div class="table-responsive">
  <table class="saved-twiddles table table-striped table-bordered">
    <thead>
      <th>SHA</th>
      <th>Updated</th>
      <th>Twiddle</th>
      <th>Gist</th>
      <th>Files</th>
      <th>Description</th>
    </thead>
    <tbody>
      {{#each filteredModel as |gist|}}
        {{saved-twiddles-row gist=gist}}
      {{/each}}
    </tbody>
  </table>
</div>
